/* .App {
  text-align: center;
  font-family: "Quicksand";
}

h2 {
  margin-top: 16px;
}

input {
  margin-bottom: 16px;
}

button {
  margin-top: 16px;
} */

.modification-form {
  font-family: Arial, sans-serif;
  text-align: center;
  position: absolute;
  bottom: auto;
}

.form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

label {
  margin-top: 10px;
}

input {
  margin-top: 5px;
  padding: 8px;
  margin-bottom: 10px;
}

.form-btn {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.cancel-btn {
  background-color: #f44336;
}

.cancel-btn:hover {
  background-color: #e53935;
}

.character {
  position: absolute;
  top: 100px;
  left: 300px;
}

.character-image {
  position: absolute;
  width: 200px;
  height: auto;
}